In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import RobustScaler


df_train= pd.read_csv('raw/train_net.csv')

cols_to_drop_train = ['FLOW_ID', 'ID', 'ALERT', 'ANOMALY', "ANALYSIS_TIMESTAMP"]  

colums_to_drop_train = []

for c in cols_to_drop_train:
    if c in df_train.columns:
        colums_to_drop_train.append(c)

X_train = df_train.drop(columns=colums_to_drop_train).copy()
X_train.head()

,PROTOCOL_MAP,L4_SRC_PORT,IPV4_SRC_ADDR,L4_DST_PORT,IPV4_DST_ADDR,FIRST_SWITCHED,FLOW_DURATION_MILLISECONDS,LAST_SWITCHED,PROTOCOL,TCP_FLAGS,...,DST_TOS,TOTAL_FLOWS_EXP,MIN_IP_PKT_LEN,MAX_IP_PKT_LEN,TOTAL_PKTS_EXP,TOTAL_BYTES_EXP,IN_BYTES,IN_PKTS,OUT_BYTES,OUT_PKTS
0,udp,53950,10.114.232.40,53,10.114.226.5,1647760833,1,1647760833,17,0,...,0,372018590,0,0,0,0,165,2,275,2
1,tcp,37914,10.114.241.166,38303,10.114.224.218,1647686725,1,1647686725,6,22,...,0,368604472,0,0,0,0,44,1,40,1
2,tcp,33216,10.114.241.166,18757,10.114.224.116,1647680044,0,1647680044,6,22,...,0,367513992,0,0,0,0,44,1,40,1
3,udp,48627,10.114.225.205,53,10.114.226.5,1647760172,0,1647760172,17,0,...,0,371997670,0,0,0,0,128,2,160,2
4,udp,35939,10.114.225.205,53,10.114.226.5,1647780916,0,1647780916,17,0,...,0,374311119,0,0,0,0,172,2,300,2

In [2]:
categorical_columns = X_train.select_dtypes(include=['object']).columns

In [3]:
categorical_columns

Index(['PROTOCOL_MAP', 'IPV4_SRC_ADDR', 'IPV4_DST_ADDR'], dtype='object')

In [4]:
for column in categorical_columns:
    le = LabelEncoder()
    X_train[column] = le.fit_transform(X_train[column])
X_train.head()

,PROTOCOL_MAP,L4_SRC_PORT,IPV4_SRC_ADDR,L4_DST_PORT,IPV4_DST_ADDR,FIRST_SWITCHED,FLOW_DURATION_MILLISECONDS,LAST_SWITCHED,PROTOCOL,TCP_FLAGS,...,DST_TOS,TOTAL_FLOWS_EXP,MIN_IP_PKT_LEN,MAX_IP_PKT_LEN,TOTAL_PKTS_EXP,TOTAL_BYTES_EXP,IN_BYTES,IN_PKTS,OUT_BYTES,OUT_PKTS
0,6,53950,291,53,329,1647760833,1,1647760833,17,0,...,0,372018590,0,0,0,0,165,2,275,2
1,5,37914,306,38303,302,1647686725,1,1647686725,6,22,...,0,368604472,0,0,0,0,44,1,40,1
2,5,33216,306,18757,292,1647680044,0,1647680044,6,22,...,0,367513992,0,0,0,0,44,1,40,1
3,6,48627,244,53,329,1647760172,0,1647760172,17,0,...,0,371997670,0,0,0,0,128,2,160,2
4,6,35939,244,53,329,1647780916,0,1647780916,17,0,...,0,374311119,0,0,0,0,172,2,300,2

In [5]:
df_test= pd.read_csv('raw/test_net.csv')

In [6]:
df_test.head()

,FLOW_ID,PROTOCOL_MAP,L4_SRC_PORT,IPV4_SRC_ADDR,L4_DST_PORT,IPV4_DST_ADDR,FIRST_SWITCHED,FLOW_DURATION_MILLISECONDS,LAST_SWITCHED,PROTOCOL,...,MAX_IP_PKT_LEN,TOTAL_PKTS_EXP,TOTAL_BYTES_EXP,IN_BYTES,IN_PKTS,OUT_BYTES,OUT_PKTS,ANALYSIS_TIMESTAMP,ANOMALY,ID
0,370548101,udp,50927,10.114.226.5,53,204.61.216.100,1647716065,1,1647716065,17,...,0,0,0,112,1,668,1,1647716129,0.0,0
1,367147345,icmp,0,34.208.29.22,0,10.114.224.244,1647676228,10540,1647676239,1,...,0,0,0,168,2,0,0,1647676273,0.0,1
2,369996289,icmp,0,34.219.129.172,0,10.114.224.218,1647702042,0,1647702042,1,...,0,0,0,84,1,0,0,1647702128,0.0,2
3,374311525,tcp,49738,10.114.225.201,443,185.33.221.15,1647780914,10472,1647780925,6,...,0,0,0,7781,15,4891,14,1647780984,0.0,3
4,338793823,udp,50454,10.114.225.205,53,10.114.226.5,1647416371,0,1647416371,17,...,0,0,0,154,2,322,2,1647416426,NaN,4

In [12]:
data_robust_scaler = RobustScaler().fit_transform(X_train)
data_robust_scaler

NameError: name 'RobustScaler' is not defined

In [8]:
# TEST
cols_to_drop_test = ['FLOW_ID', 'ID', "ANALYSIS_TIMESTAMP"]
colums_to_drop_test = []
for c in cols_to_drop_test:
    if c in df_test.columns:
        colums_to_drop_test.append(c)
Y_test = df_test.drop(columns=colums_to_drop_test).copy()

Y_test.head()

,PROTOCOL_MAP,L4_SRC_PORT,IPV4_SRC_ADDR,L4_DST_PORT,IPV4_DST_ADDR,FIRST_SWITCHED,FLOW_DURATION_MILLISECONDS,LAST_SWITCHED,PROTOCOL,TCP_FLAGS,...,TOTAL_FLOWS_EXP,MIN_IP_PKT_LEN,MAX_IP_PKT_LEN,TOTAL_PKTS_EXP,TOTAL_BYTES_EXP,IN_BYTES,IN_PKTS,OUT_BYTES,OUT_PKTS,ANOMALY
0,udp,50927,10.114.226.5,53,204.61.216.100,1647716065,1,1647716065,17,0,...,370548101,0,0,0,0,112,1,668,1,0.0
1,icmp,0,34.208.29.22,0,10.114.224.244,1647676228,10540,1647676239,1,0,...,367147345,0,0,0,0,168,2,0,0,0.0
2,icmp,0,34.219.129.172,0,10.114.224.218,1647702042,0,1647702042,1,0,...,369996289,0,0,0,0,84,1,0,0,0.0
3,tcp,49738,10.114.225.201,443,185.33.221.15,1647780914,10472,1647780925,6,27,...,374311525,0,0,0,0,7781,15,4891,14,0.0
4,udp,50454,10.114.225.205,53,10.114.226.5,1647416371,0,1647416371,17,0,...,338793823,0,0,0,0,154,2,322,2,NaN

In [9]:
cat_cols_test = Y_test.select_dtypes(include= ["object"]).columns
cat_cols_test

Index(['PROTOCOL_MAP', 'IPV4_SRC_ADDR', 'IPV4_DST_ADDR'], dtype='object')

In [11]:
for c in cat_cols_test: 
    le = LabelEncoder()
    Y_test[c] = le.fit_transform(Y_test[c]) 
Y_test.head()

,PROTOCOL_MAP,L4_SRC_PORT,IPV4_SRC_ADDR,L4_DST_PORT,IPV4_DST_ADDR,FIRST_SWITCHED,FLOW_DURATION_MILLISECONDS,LAST_SWITCHED,PROTOCOL,TCP_FLAGS,...,TOTAL_FLOWS_EXP,MIN_IP_PKT_LEN,MAX_IP_PKT_LEN,TOTAL_PKTS_EXP,TOTAL_BYTES_EXP,IN_BYTES,IN_PKTS,OUT_BYTES,OUT_PKTS,ANOMALY
0,5,50927,180,53,21024,1647716065,1,1647716065,17,0,...,370548101,0,0,0,0,112,1,668,1,0.0
1,1,0,23085,0,212,1647676228,10540,1647676239,1,0,...,367147345,0,0,0,0,168,2,0,0,0.0
2,1,0,23174,0,208,1647702042,0,1647702042,1,0,...,369996289,0,0,0,0,84,1,0,0,0.0
3,4,49738,169,443,15964,1647780914,10472,1647780925,6,27,...,374311525,0,0,0,0,7781,15,4891,14,0.0
4,5,50454,172,53,235,1647416371,0,1647416371,17,0,...,338793823,0,0,0,0,154,2,322,2,NaN